@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
.kfc {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
}
.kfc img {
  width: 660px;
  height: 500px;
}
.kfc h1 {
  font-size: 45px;
  color: black;
  font-weight: 800;
  text-align: center;
  font-family: "Oswald", sans-serif;
}
.kfc h2 {
  font-size: 20px;
  color: #00a149;
  font-weight: 800;
  text-align: center;
  font-family: "Oswald", sans-serif;
  margin: 0;
}
.kfc p {
  font-size: 20px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  color: #5c5c5b;
  text-align: center;
}
.kfc-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.kfc-price {
  display: flex;
  flex-direction: column;
}
.kfc-price h1 {
  width: 0;
}
.kfc-l {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
}
.kfc_2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.btn_2 {
  background-color: #00a149;
  color: white;
  font-size: 20px;
  font-weight: 800;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
