.special_img {
  background-image: url("src/Back/58a047e38e4d061e7f36d6a06d25657b56d1eb2e.png");
  width: 552px;
  height: 365px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.special_img h2 {
  font-size: 30px;
  font-weight: 700;
  color: white;
  margin: 0;
}
.special_img h2 span {
  font-size: 30px;
  font-weight: 700;
  color: #ffc222;
}
.h1_1 {
  font-size: 35px;
  font-weight: 700;
}
.Special {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Special img {
  width: 250px;
  height: 250px;
}
